.card-pricing__container {
    position: absolute;
    bottom: 0px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #0d0d0dd8;
    color: antiquewhite;
    font-family: 'Calibri';
}

.card-pricing__title {
    margin-bottom: 0px;
    font-size: 14px;
}

.card-pricing__value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

.card-pricing__value__console {
    display: flex;
    flex-direction: row;
}

#pipe {
    font-weight: bolder;
    color: aqua;
    margin-right: 5px;
}

.card-pricing__value__console > p {
    margin-right: 10px;
}

.card-pricing__value__console > span{
    margin-right: 10px
}